body {

}

.bar {
  background-image: linear-gradient(135deg, #00FFFF 0%, #0000FF 100%);
  font-size: 22px;
  text-align: center;
  width: 100%;
  top: -3.5%;
  left: -1%;
  border-radius:5px;  
  height: 100px;
  position:fixed;
}
